<div id="menu">
  <ul class="list-group">
    <li class="list-group-item" routerLinkActive="active">
      <a routerLink="/main/home"><i class="fa fa-home"></i></a>
    </li>
    <li *ngIf="isAdmin" class="list-group-item" routerLinkActive="active">
      <a routerLink="/main/users"><i class="fa fa-list"></i></a>
    </li>
    <li class="list-group-item" routerLinkActive="active">
      <a routerLink="/main/my-profile"><i class="fa fa-user"></i></a>
    </li>
    <li class="list-group-item" (click)="logout()">
      <button class="btn btn-link p-0">
        <i class="fa fa-arrow-right-from-bracket"></i>
      </button>
    </li>
  </ul>
</div>